/* Standard */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*,input {
    font-family:Arial, Helvetica, sans-serif;
}

*,button{
    font-family:Arial, Helvetica, sans-serif;
    background-color: white;
    border: 0px;
}

*,a.link{
    font-size: 12px;
}

::placeholder{
    color:rgba(0,0,0, 0.70);
    font-size: 16px;
}

/* Header */

.menu{
    height: 48px;
    width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.menu__link {
    color: rgba(0,0,0, 0.87);
    margin-right: 12px;
    font-size: 14px;
    line-height: 24px;
    text-decoration:none;
}

.menu_link_section:hover{
    text-decoration: underline;
}

.menu__icon{
    padding: 12px 12px;
}

.menu__avatar {
    border-radius: 50%;
    border: 2px solid rgba(0,0,0, 0.2);
    width: 40px;
    height: 40px;
}

.menu__section__right {
    align-items: center;
    display: flex;    
}

/* Content */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 56px 8px 0px;
}

.content__logo {
    margin-bottom: 8px;
    width: 290px;
    height: 90px;
}

.content__input{
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: space-between;
    max-width: 561px;
    width: 100%;
    height: 44px;
    box-shadow: grey;
    max-height: 44px;
    border-radius: 25px;
    border: 1px solid #dadce0;
    outline: 0px;
    padding: 1px 12px 1px 12px;
}

.content__input__search {
    max-width: 561px;
    width: 100%;
    height: 40px;
    outline: 0px;
    border: 0px;
    margin-left: 12px;
}

.content__button__container{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-top: 30px;
}

.content__button{
    align-items: center;
    background-color: #F1F3F4;
    text-decoration: none;
    color: initial;
    height: 30px;
    margin: 0px 0px 0px 12px;
    padding: 5px 12px 4px 12px;
    border-radius: 3px;
    font-size: 12px;
}

.content__button:hover{
    border: 1px solid rgba(26,13,171, 0.3);
}

.links__container{
    display: flex;
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 8px;
}

.links__anchor{
    height: 112px;
    width: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    border-radius: 8px;
    align-content: center;
    text-decoration:none;
    color: rgba(0,0,0, 0.8);
    font-size: 14px;
}

.linkImg__circle {
    background-color: #F1F3F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.links__img{
    border-radius: 50%;
    margin-top: 10px;
    background-color: #F1F3F4;
}

.links__anchor:hover{
    background-color: rgba(95,99,104, 0.2);
}

/* SearchPage */

.menu__search__link{
    display: flex;
    height: 50px;
    max-width: 100%;
    margin: 12px 0px 12px 0%;
    padding: 8px 2px 0px;    
    border-bottom: 0.5px solid #ccc;
}

.menu__search{
    height: 48px;
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 8px 2px 8px 2px;
}

.menu__section__left{
    display: flex;
    max-width: 100%;
    height: 56px;
}

.menu__logo{
    padding: 4px 28px 0px 30px;
}

.menu__img{
    height: 30px;
    width: 92px;
}

.menu__bar{
    display: flex;
    -webkit-box-shadow: 1px 1px 1px 1px #ccc;
    box-shadow: rgba(0,0,0, 1);
    margin: 2px;
    border-radius: 20px;
    width: 650px;
    height: 44px;
}

.division{
    width: 15px;
    height: 40px;
    border-left: 1px solid rgba(95,99,104, 0.4);
}

.link{
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.link__active{
    border-bottom: 3px solid blue;
    color: blue;
}

.result__content{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 12px 13%;
}

.result__collumn{
    display: flex;
    position: relative;
    flex-direction: row;
}

.material-icons{
    margin-right: 3px;
}

.result__description{
    margin-top: 6px;
    max-width: 55%;
    color: rgba(0,0,0,0.75);
    line-height: 1.5;
}

.result__site{
    margin-bottom: 24px;
}

.result__url{
    color: black;
    text-decoration: none;
}

.result__homeURL{
    color: blue;
    font-size: 20px;
    margin-top: 6px;
    text-decoration: none;
}

.result__homeURL:hover{
    text-decoration: underline;
}

.result__search{
    color: rgb(141, 141, 141);
    font-size: 12px;
    max-width: 100%;
   
    padding: 0px 2px 16px 0px;    
}

.related__search{
    display: flex;
    max-width: 55%;
    flex-direction: column;
}

.related__boxline{
    display: flex;
    align-content: center;
}
.related__box{
    display: flex;
    align-items: center;
    background-color: rgba(26,13,171, 0.10);
    height: 40px;
    width: 300px;
    border-radius: 30px;
    margin: 8px 8px 0px 0px;
    padding-left: 12px;
}.related__text{
    font-size: 14px;
    margin: 0px 0px 0px 16px;
    background-color: unset;
    text-decoration: none;
}

.material-icons{
    background-color: unset;
}

.search__info{
    border: thin solid rgba(146, 143, 143, 0.3);
    max-width: 450px;
    top: 5px;
    right: 10px;
    position: absolute;
    border-radius: 5px;
}

.search__info__image{
    display: flex;
    margin-bottom: 6px;
}

.search__name__box{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 2px 12px 12px 12px;
}

.search__info__button{
    display: flex;
    margin-bottom: 12px;
}

.search__button{
    display: flex;
    flex-direction: row;
    max-width: 180px;
    padding: 0px 10px;
    height: 30px;
    border-radius: 2px;
    margin-left: 12px;
    border: thin solid rgba(146, 143, 143, 0.3);
    background-color: #F1F3F4;
    font-size: 11px;
    font-weight:bolder;
    align-items: center;
    text-decoration: none;
    color: rgba(0,0,0, 0.8);
}

.search__rating{
    padding: 0px 0px 6px 12px;
    color: gray;
}

.search__label{
    color: gray;
    font-size: 14px;
    padding: 0px 0px 0px 12px;
}

.search__info__box{
    padding: 8px 0px 0px 12px;
    border-top: thin solid rgba(146, 143, 143, 0.3);
    margin-bottom: 20px;
}

.search__text{
    font-size: 13px;
    font-weight: bold;
    margin: 0px 0px 8px 0px;
}

.search__link{
    display: flex;
    color: blue;
}

.search__question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0px 12px 0px 12px;
}

.search__title{
    font-size: 16px;
    margin-bottom: 6px;
    text-decoration: none;
}
*.a.search__title:hover{
    text-decoration: underline;
}

.search__webrating{
    display: flex;
    flex-direction: column;
    padding: 0px 12px 0px 12px;
    border-bottom: thin solid rgba(146, 143, 143, 0.3);
}

.search__webrating__text{
    display: flex;
    padding: 6px 0px 0px 0px;
}

.search__comment{
    display: flex;
    flex-direction: column;
    padding: 0px 12px 0px 12px;
}

.star__container{
    display: flex;
    flex-direction: row;
}

.search__comment__head{
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12px;
}
.search__comment_button{
    display: flex;
}

.search__comment__item{
    display: flex;
    margin: 12px 12px 12px 0px;
}

.search__comment_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Footer */
.footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.footer__address{
    display: flex;
    align-items: flex-end;
    padding: 12px 0px 8px 16px;
    background-color: rgba(26,13,171, 0.05);
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}
.footer__text{
    color: rgb(141, 141, 141);
    font-size: 12px;
    margin-left: 6px;
    background-color: unset;
    text-decoration: none;
}
.footer__text:hover{
    text-decoration: underline;
}
.footer__division{
    margin-left: 12px;
    height: 25px;
    margin-right: 12px;
    border-left: 1px solid rgba(95,99,104, 0.4);
}
.footer__link{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: rgba(26,13,171, 0.05);
    padding: 12px 16px 8px 16px;
    height: 40px;
}
.footer__link__left{
    background-color: unset;
}
.footer__link__right{
    background-color: unset;
    align-content: center;
    align-items: center;
}