.content {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 56px 8px 0px;
}

.content__login{
  width: 400px;
  border: 1.5px solid rgba($color: gray, $alpha: 0.3);
  border-radius: 5px;
  align-content: center;
  align-self: center;
  align-items: center;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*,input {
  font-family:Arial, Helvetica, sans-serif;
}

*,button{
  font-family:Arial, Helvetica, sans-serif;
  background-color: white;
  border: 0px;
}

*,a.link{
  font-size: 12px;
}

::placeholder{
  color:rgba(0,0,0, 0.70);
  font-size: 16px;
}

.material-icons{
  background-color: unset;
}
